.btn {
	display: inline-block !important;	
	box-sizing: border-box;
	padding: 0 20px !important;
	margin: 0 15px 15px 0 !important;
	outline: none;
	border: none;  
	border-radius: 4px !important;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd !important;
	box-shadow: 0 2px #21487f !important;
	cursor: pointer !important;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.btn:hover {
	background-color: #002fed;
}
.btn:active {
	background-color: #2f599e !important;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}
